* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid red;
    display: grid;
    gap: 10px 30px;
    grid-template-areas: "header header header header" "sidebar main main main" "sidebar main main main" "footer footer footer footer";
}

.box {
    border: 2px solid green;
    padding: 50px;
}

#box1 {
    grid-area: header;
}

#box2 {
    grid-area: sidebar;
}

#box3 {
    grid-area: main;
}

#box4 {
    grid-area: footer;
}